{% extends "base.html" %}

{% block content %}
    <div id="table1" class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Users</h3>
            {#            <a href="{{ url_for('user.user_create') }}" class="btn btn-success btn-sm">+</a>#}
        </div>
        <div class="card-body">
            <form method="POST" action={{ url_for('login.check_login') }}>
                <div class="mb-3">
                    <label for="login" class="form-label">Login (Username):</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Enter your username" required>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <!-- Submit Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
