<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% block content %}

<h1>Overview</h1>
<p>This is the overview page.</p>

<h2>Prompt Overview</h2>
<p>All the prompts here.</p>

<h2>User Overview</h2>
<a href="{{ url_for('user_create') }}">Create new user</a>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Admin</th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="{{ url_for('user_show',user_id = user.user_id)}}">{{user.user_id}}</a></td>
        <td>{{user.login}}</td>
        <td>{{user.password}}</td>
        <td>{{user.display_name}}</td>
        <td>{{user.is_admin}}</td>
        <td><button><a href="{{ url_for('user_delete',user_id = user.user_id)}}">Delete</a> </button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}