{% extends "base.html" %}

{% block content %}
<!-- Registration Form -->
<div class="container registration-container">
  <h2 class="text-center mb-4">New Prompt</h2>
  <div class="card">
    <div class="card-body">
      <form action="{{ url_for('prompt.prompt_create') }}" method="POST">

        <!-- Title  -->
{#        <div class="mb-3">#}
{#          <label for="title" class="form-label">Title</label>#}
{#          <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>#}
{#        </div>#}

        <!-- Prompt -->
        <div class="mb-3">
          <label for="prompt" class="form-label"></label>
          <textarea class="form-control" id="prompt" name="prompt" placeholder="Prompt" rows="3" required></textarea>
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}